/* Navigation Styles */
nav2 {
    display: flex;
    align-items: center;
    background-color:black;
    width: 100%;
    margin: 0;
    position: sticky;
    height: 40px;
    top: 7%;
    z-index: 1000;
    
  }
  
  nav2 ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
   
    z-index: 10;
    
    width: 100vw;
   
  }
  
  nav2 li {
    margin: 0;
  }
  
  nav2 a {
    color: var(--links-color);
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: color 0.3s, background-color 0.3s;
  }
  
  nav2 a:hover {
    color: var(--highlight-color);
    background-color: var(--accent-color);
    border-radius: 4px;
  }
  
  /* Responsive Design for Navigation */
  @media (max-width: 768px) {
    nav2 ul {
      flex-direction: column;
      align-items: center;
    }
    
    nav2 a {
      padding: 0.5rem;
    }
  }
  