.container {
  
}

.container h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.home-top {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 3px;
}

.home-top .slick-slide {
  padding: 0;
  border-radius: 10px;
}

.home-top .slick-slide img {
  width: 100%;
  height: 350px;
  border-radius: 10px;
  object-fit: cover;
}

.discounted-section,
.new-arrival-section,
.featured-section {
  margin-top: 20px;
  padding: 0;
  text-align: center;
}

.home-mid {
  display: grid;
  gap: 10px;
  margin-top: 20px;
}

.home-mid .top-row {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

.home-mid img {
  width: 100%;
  height: auto;
  max-height: 350px;
  border-radius: 10px;
  object-fit: cover;
}

.home-last {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.home-last img {
  width: 100%;
  height: auto;
  max-height: 350px;
  border-radius: 10px;
}

.featured-section {
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
}
/* Custom styles for slick dots */
.slick-dots {
   /* Positioning of dots */
}

.slick-dots li {
  margin: 0 5px; /* Spacing between dots */
}

.slick-dots li button {
  background: #333; /* Dot color */
  border-radius: 50%; /* Make dots round */
  width: 10px; /* Dot size */
  height: 10px; /* Dot size */
  opacity: 0.6; /* Dot opacity */
}

.slick-dots li.slick-active button {
  background: #000; /* Active dot color */
  opacity: 1; /* Active dot opacity */
}


@media (max-width: 768px) {
  .home-container {
    margin-top: 20px;
    display: grid;
    gap: 30px;
  }

  .home-mid img {
    height: 200px;
  }

  .discounted-section,
  .new-arrival-section,
  .featured-section {
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .container {
    
  }

  .home-container {
    margin-top: 20px;
    display: grid;
    gap: 20px;
  }

  .home-mid img {
    height: 150px;
  }

  .discounted-section,
  .new-arrival-section,
  .featured-section {
    margin-top: 20px;
  }
}
