.all {
  margin-top: 30px;
  display: flex;
  gap: 20px;;
  justify-content: space-between; /* To space out filters and items */
}
.all-items{
  flex: 1;
}
.all .home-prods4, .all .home-prods3{
  border: none;
}

.all .home-prods4, .all .home-prods3{
  h2{
      text-align: center;
  }
}




.filters {
 
  padding: 20px;
  background-color: #f0f0f0;
  top: 0;
  max-width: 400px;
 height: 100vh;
 overflow: scroll;
 position: sticky;
 top: 0;


}
.sort {
  display: flex;
  position: absolute;
  right: 0;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.toggle {
 margin-top: 20px;
  background-color: grey;
  color: #fff;
  border: none;
  font-size: 3rem;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.toggle:hover {
  background-color: #0056b3;
}

.sorts {
  margin-top:20px ;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0 5px 5px 0;
  transition: border-color 0.3s ease;
 
}

.sorts:focus {
  border-color: #007bff;
  outline: none;
}


.filters h5{
  text-decoration: none;
}


.filter-actions {
  display: grid;
  gap:20px;
  margin-top: 20px;
  position: sticky;
  top: 180px;
}
.filter-actions{
  text-decoration: underline;
}

.filter-actions .all-nav ul{
  display: flex;
  align-items: flex-start;
  list-style: none;
  text-decoration: none;
  text-align: left;

}
.filter-actions .all-nav ul li{
  text-decoration: none;
  display: flex;
  align-items: flex-start;
  padding: 4px;
  color: black;

}

.all-prods{
  margin-top: 80PX;

}


.all-items{
  margin-top: 8%;
  width: 100vw;
}





@media (max-width: 768px) {
  .all {
  margin-top: 40%;
flex-direction: column;
  }
  .all-prods{
    margin-top: 30%;
  }
  .item-content4{
    margin-top: 10px;
  }

  .filters {
      position: fixed;
      height: 100%;
  z-index: 100;
    order: -1; /* Move filters to the top */
    margin-top: -90px; /* Add space between filters and items */
      transition: .5s ease;
      overflow-y: scroll;
      width: 100%;
      max-width: 250px;
    
  }
 
  
  
}
